html, body {
    height: 100%; /* Garante que o corpo ocupe toda a altura da tela */
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
