html, body {
    height: 100%; /* Garante que o corpo ocupe toda a altura da tela */
    margin: 0;
    font-family: "Roboto","Edu NSW ACT Hand Pre",sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fAF9F6;
    color: #000003;
}
h1 {
  font-family: "Edu NSW ACT Hand Pre";
  font-weight: 700;
}
p {
  font-weight: 400;
  font-family: "Roboto";
}
